body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a2e; /* dark blue background */
    color: #e0e1dd; /* light grey text for readability */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #16213e; /* slightly darker blue for the header */
    color: white;
}

.profile-img {
    width: 120px; /* fixed size */
    height: 120px; /* fixed size */
    border-radius: 50%; /* makes the image round */
    border: 3px solid #0f3460; /* dark blue border */
    object-fit: cover; /* ensures the image covers the space without distortion */
}

.nav-button {
    background-color: transparent;
    color: white;
    border: 2px solid white; /* adds a border to the button */
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.nav-button:hover {
    background-color: #0f3460; /* dark blue highlight */
    color: #ffffff; /* ensures text is still visible */
    border-color: #e0e1dd; /* changes border color on hover */
}

section {
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: #1a1a2e; /* maintains consistent background color */
    border-top: 3px solid #16213e; /* adds a thematic top border */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #16213e;
    color: white;
}


.game-display {
    text-align: center;
    margin-bottom: 20px;
}

.game-screenshot {
    width: 100%;
    max-width: 640px; 
    margin: 0 auto 10px;
    display: block;
}

.game-container {
    margin-top: 10px;
}


.skill {
    margin: 20px 0;
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.skill-progress {
    height: 20px;
    background-color: #3f91df;
    border-radius: 8px 0 0 8px;
    width: 0;
    transition: width 2s ease;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}